@charset "UTF-8";

// Media queries
@mixin mq($mq-breakpoint) {
	@if map-has-key($mq-breakpoints, $mq-breakpoint) {
		$mq-device: "";
		@if $enable-mq-device == true {
			$mq-device: "-device";
		}

		$mq-range: "min";
		@if $mq-breakpoint == nth(map-keys($mq-breakpoints), 1) {
			$mq-range: "max";
		}

		@media all and (#{$mq-range}#{$mq-device}-width:map-get($mq-breakpoints, $mq-breakpoint)) {
			@content;
		}
	}
}

@mixin mq-custom($mq-range, $mq-breakpoint) {
	$mq-device: "";
	@if $enable-mq-device == true {
		$mq-device: "-device";
	}

	@media all and (#{$mq-range}#{$mq-device}-width:$mq-breakpoint) {
		@content;
	}
}

// Container
@mixin container {
	margin-right: auto;
	margin-left: auto;

	@if $enable-mq == true {
		@each $mq-container-width in $mq-container-widths {
			$mq: nth($mq-container-width, 1);
			$container-width: nth($mq-container-width, 2);

			@include mq($mq) {
				max-width: $container-width;
			}
		}

		@each $mq-container-indent in $mq-container-indents {
			$mq: nth($mq-container-indent, 1);
			$container-indent: nth($mq-container-indent, 2);

			@include mq($mq) {
				padding-right: $container-indent;
				padding-left: $container-indent;
			}
		}
	} @else {
		padding-right: $container-indent;
		padding-left: $container-indent;
		max-width: $container-width;
	}
}

// Grid
@mixin grid($main-axis: x, $justify-content: flex-start, $align-items: flex-start, $multiplier: 1) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;

	@if $main-axis == x {
		flex-flow: row wrap;
	}

	@if $main-axis == y {
		flex-flow: column nowrap;
	}

	@if $enable-mq == true {
		@each $mq-grid-gutter in $mq-grid-gutters {
			$mq: nth($mq-grid-gutter, 1);
			$gutter: -#{nth($mq-grid-gutter, 2) / 2 * $multiplier};

			@include mq($mq) {
				margin-right: $gutter;
				margin-left: $gutter;
			}
		}
	} @else {
		$gutter: -$grid-gutter / 2 * $multiplier;

		margin-right: $gutter;
		margin-left: $gutter;
	}
}

// Grid col
@mixin grid-col($multiplier: 1) {
	@if $enable-mq == true {
		@each $mq-grid-gutter in $mq-grid-gutters {
			$mq: nth($mq-grid-gutter, 1);
			$gutter: nth($mq-grid-gutter, 2) / 2 * $multiplier;

			@include mq($mq) {
				padding-right: $gutter;
				padding-left: $gutter;
			}
		}
	} @else {
		$gutter: $grid-gutter / 2;

		padding-right: $gutter * $multiplier;
		padding-left: $gutter * $multiplier;
	}
}

@mixin grid-col-mx($size, $multiplier: 1) {
	flex: 0 0 $size * 100%;
	max-width: $size * 100%;

	@if $enable-mq == true {
		@each $mq-grid-gutter in $mq-grid-gutters {
			$mq: nth($mq-grid-gutter, 1);
			$gutter: nth($mq-grid-gutter, 2) / 2 * $multiplier;

			@include mq($mq) {
				padding-right: $gutter;
				padding-left: $gutter;
			}
		}
	} @else {
		$gutter: $grid-gutter / 2;

		padding-right: $gutter * $multiplier;
		padding-left: $gutter * $multiplier;
	}
}

@mixin flex-list-wrap($col: 0, $gapX: 0rem, $gapY: $gapX, $checkWrap: true) {
	display: flex;
	margin: (- ($gapY / 2)) (- ($gapX / 2));

	@if $checkWrap == true {
		flex-wrap: wrap;
	}

	> * {
		margin: ($gapY / 2) ($gapX / 2);
		@if col {
			$width-col: (100% / $col);
			width: calc(#{$width-col} - #{$gapX});
		}
	}
}

// Col size
@mixin col-size($size) {
	width: $size * 100%;
}

// Col center
@mixin col-center {
	margin-right: auto;
	margin-left: auto;
}

// Ellipsis
// https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/library/_ellipsis.scss
@mixin ellipsis($width: 100%, $display: inline-block) {
	display: $display;
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

// hide scrollbar
@mixin scroll-not-scrollbar($overflow-x: auto, $overflow-y: auto) {
	overflow-x: $overflow-x;
	overflow-y: $overflow-y;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none; // hide scrollbar
	overflow: -moz-scrollbars-none; // hide scrollbar

	&::-webkit-scrollbar {
		display: none !important;
		width: 0 !important
	}
}

// Font
@mixin font($font-size, $line-height: $font-size) {
	font-size: $font-size;
	line-height: strip-units($line-height) / strip-units($font-size);
}

// indents
@mixin wysiwyg-indents-md {

	&:not(:first-child) {
		margin-top: 2.4rem;
	}

	&:not(:last-child) {
		margin-bottom: 2.4rem;
	}
}

@mixin wysiwyg-indents-lg {

	&:not(:first-child) {
		margin-top: 3.2rem;
	}

	&:not(:last-child) {
		margin-bottom: 3.2rem;
	}
}

// Interact
@mixin interact($properties-list, $values-list, $state: hover) {
	$properties-length: length($properties-list);
	$values-length: length($values-list);

	@if $properties-length == $values-length {

		.mod_no-touchevents & {
			@if $enable-interact-multiple == true {

				&:#{$state},
				&.#{$state} {
					@for $i from 1 through $properties-length {
						#{nth($properties-list, $i)}: nth($values-list, $i);
					}
				}
			} @else {

				&:#{$state} {
					@for $i from 1 through $properties-length {
						#{nth($properties-list, $i)}: nth($values-list, $i);
					}
				}
			}
		}
	}
}

// Size
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// Headings
@mixin h {
	font-family: $font-family-title;

	a {
		@include interact(text-decoration, underline);

		font-weight: inherit;
		text-decoration: none;
	}
}

// button-focus
@mixin button-focus {
	outline: 0 !important;
	transition: outline 0ms;

	&:focus {
		background: $brand-green-pea;
		color: #fff;
	}

	&:active {
		outline: 0;
	}
}

// button-focus secondary
@mixin button-focus-secondary {
	outline: 0;
	transition: all $transition-duration-base-min outline 0ms;

	&:focus {
		background: #fff;
		box-shadow: 0 12px 12px rgba(0, 0, 0, 0.12);
	}
}

// brand logo
@mixin brand-logo {

	&::before {
		background: {
			position: 50%;
			size: contain;
			repeat: no-repeat;
		};
		content: "";
	}

	&[data-brand-name="audi"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/audi.png");
		}
	}

	&[data-brand-name="bmw"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/bmw.png");
		}
	}

	&[data-brand-name="chery"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/chery.png");
		}
	}

	&[data-brand-name="citroen"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/citroen.png");
		}
	}

	&[data-brand-name="ford"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/ford.png");
		}
	}

	&[data-brand-name="hyundai"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/hyundai.png");
		}
	}

	&[data-brand-name="infiniti"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/infiniti.png");
		}
	}

	&[data-brand-name="jaguar"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/jaguar.png");
		}
	}

	&[data-brand-name="jeep"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/jeep.png");
		}
	}

	&[data-brand-name="kia"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/kia.png");
		}
	}

	&[data-brand-name="lada"],
	&[data-brand-name="vaz"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lada.png");
		}
	}

	&[data-brand-name="land_rover"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/land_rover.png");
		}
	}

	&[data-brand-name="lexus"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lexus.png");
		}
	}

	&[data-brand-name="lifan"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lifan.png");
		}
	}

	&[data-brand-name="mazda"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mazda.png");
		}
	}

	&[data-brand-name="mini"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mini.png");
		}
	}

	&[data-brand-name="mitsubishi"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mitsubishi.png");
		}
	}

	&[data-brand-name="nissan"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/nissan.png");
		}
	}

	&[data-brand-name="porsche"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/porsche.png");
		}
	}

	&[data-brand-name="ravon"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/ravon.png");
		}
	}

	&[data-brand-name="renault"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/renault.png");
		}
	}

	&[data-brand-name="skoda"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/skoda.png");
		}
	}

	&[data-brand-name="suzuki"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/suzuki.png");
		}
	}

	&[data-brand-name="toyota"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/toyota.png");
		}
	}

	&[data-brand-name="УАЗ"],
	&[data-brand-name="uaz"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/uaz.png");
		}
	}

	&[data-brand-name="volkswagen"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/volkswagen.png");
		}
	}

	&[data-brand-name="volvo"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/volvo.png");
		}
	}

	&[data-brand-name="haval"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/haval.png");
		}
	}

	&[data-brand-name="genesis"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/genesis.png");
		}
	}

	&[data-brand-name="geely"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/geely.png");
		}
	}

	&[data-brand-name="datsun"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/datsun.png");
		}
	}

	&[data-brand-name="peugeot"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/peugeot.png");
		}
	}

	&[data-brand-name="geely"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/geely.png");
		}
	}

	&[data-brand-name="mercedes_benz"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mercedes-benz.png");
		}
	}

	&[data-brand-name="tesla"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/tesla.png");
		}
	}

	&[data-brand-name="subaru"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/subaru.png");
		}
	}

	&[data-brand-name="chevrolet"],
	&[data-brand-name="chevrolet-niva"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/chevrolet.png");
		}
	}

	&[data-brand-name="honda"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/honda.png");
		}
	}

	&[data-brand-name="opel"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/opel.png");
		}
	}

	&[data-brand-name="cadillac"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/cadillac.png");
		}
	}

	&[data-brand-name="fiat"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/fiat.png");
		}
	}

	&[data-brand-name="chrysler"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/chrysler.png");
		}
	}

	&[data-brand-name="zotye"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/zotye.png");
		}
	}

	&[data-brand-name="changan"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/changan.png");
		}
	}

	&[data-brand-name="dongfeng"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/dfm.png");
		}
	}

	&[data-brand-name="faw"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/faw.png");
		}
	}

	&[data-brand-name="jac"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/jac.png");
		}
	}

	&[data-brand-name="ГАЗ"],
	&[data-brand-name="GAZ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/gaz.png");
		}
	}

	&[data-brand-name="maserati"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/maserati.png");
		}
	}

	&[data-brand-name="dw-hower"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/hower.png");
		}
	}

	&[data-brand-name="smart"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/smart.png");
		}
	}

	&[data-brand-name="ssangyong"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/ssangyong.png");
		}
	}

	&[data-brand-name="daewoo"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/daewoo.png");
		}
	}

	&[data-brand-name="foton"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/foton.png");
		}
	}

	&[data-brand-name="haima"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/haima.png");
		}
	}

	&[data-brand-name="seat"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/seat.png");
		}
	}

	&[data-brand-name="vortex"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/vortex.png");
		}
	}

	&[data-brand-name="great-wall"],
	&[data-brand-name="great_wall"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/greatwall.png");
		}
	}

	&[data-brand-name="acura"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/acura.png");
		}
	}

	&[data-brand-name="alfa_romeo"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/alfaromeo.png");
		}
	}

	&[data-brand-name="alpina"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/alpina.png");
		}
	}

	&[data-brand-name="asia"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/asia.png");
		}
	}

	&[data-brand-name="aston_martin"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/astonmartin.png");
		}
	}

	&[data-brand-name="bentley"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/bentley.png");
		}
	}

	&[data-brand-name="богдан"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/bogdan.png");
		}
	}

	&[data-brand-name="brilliance"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/brilliance.png");
		}
	}

	&[data-brand-name="buick"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/buick.png");
		}
	}

	&[data-brand-name="byd"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/byd.png");
		}
	}

	&[data-brand-name="dacia"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/dacia.png");
		}
	}

	&[data-brand-name="daihatsu"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/daihatsu.png");
		}
	}

	&[data-brand-name="daimler"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/daimler.png");
		}
	}

	&[data-brand-name="derways"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/derways.png");
		}
	}

	&[data-brand-name="dodge"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/dodge.png");
		}
	}

	&[data-brand-name="eagle"],
	&[data-brand-name="eagle_cars"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/eagle.png");
		}
	}

	&[data-brand-name="ferrari"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/ferrari.png");
		}
	}

	&[data-brand-name="fisker"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/fisker.png");
		}
	}

	&[data-brand-name="gac"],
	&[data-brand-name="gac-motor"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/gac.png");
		}
	}

	&[data-brand-name="ГАЗ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/gaz.png");
		}
	}

	&[data-brand-name="geo"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/geo.png");
		}
	}

	&[data-brand-name="gmc"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/gmc.png");
		}
	}

	&[data-brand-name="hafei"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/hafei.png");
		}
	}

	&[data-brand-name="hawtai"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/hawtai.png");
		}
	}

	&[data-brand-name="hummer"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/hummer.png");
		}
	}

	&[data-brand-name="iran-khodro"],
	&[data-brand-name="iran_khodro"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/irankhodro.png");
		}
	}

	&[data-brand-name="isuzu"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/isuzu.png");
		}
	}

	&[data-brand-name="ИЖ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/izh.png");
		}
	}

	&[data-brand-name="lamborghini"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lamborghini.png");
		}
	}

	&[data-brand-name="lancia"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lancia.png");
		}
	}

	&[data-brand-name="lincoln"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lincoln.png");
		}
	}

	&[data-brand-name="lotus"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/lotus.png");
		}
	}

	&[data-brand-name="ЛуАЗ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/luaz.png");
		}
	}

	&[data-brand-name="luxgen"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/luxgen.png");
		}
	}

	&[data-brand-name="maybach"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/maybach.png");
		}
	}

	&[data-brand-name="mercury"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mercury.png");
		}
	}

	&[data-brand-name="mitsuoka"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/mitsuoka.png");
		}
	}

	&[data-brand-name="Москвич"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/moskvich.png");
		}
	}

	&[data-brand-name="oldsmobile"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/oldsmobile.png");
		}
	}

	&[data-brand-name="plymouth"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/plymouth.png");
		}
	}

	&[data-brand-name="pontiac"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/pontiac.png");
		}
	}

	&[data-brand-name="proton"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/proton.png");
		}
	}

	&[data-brand-name="Renault Samsung"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/renaultsamsung.png");
		}
	}

	&[data-brand-name="rolls-royce"],
	&[data-brand-name="rolls_royce"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/rolls-royce.png");
		}
	}

	&[data-brand-name="rover"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/rover.png");
		}
	}

	&[data-brand-name="saab"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/saab.png");
		}
	}

	&[data-brand-name="saturn"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/saturn.png");
		}
	}

	&[data-brand-name="scion"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/scion.png");
		}
	}

	&[data-brand-name="smart"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/smart.png");
		}
	}

	&[data-brand-name="ТагАЗ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/tagaz.png");
		}
	}

	&[data-brand-name="tianye"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/tianye.png");
		}
	}

	&[data-brand-name="xin-kai"],
	&[data-brand-name="xin_kai"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/xinkai.png");
		}
	}

	&[data-brand-name="ЗАЗ"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/zaz.png");
		}
	}

	&[data-brand-name="zx"] {

		&::before {
			background-image: url("/img/as-c-brand-logo/zx.png");
		}
	}
}
