@charset "UTF-8";

// new

@mixin as-c-header-h1($font-weight: 700) {
	@include h;

	@include font(2.8rem, 3.2rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(4rem, 4.4rem)
	}
}

@mixin as-c-header-h2($font-weight: 700) {
	@include h;

	@include font(2.1rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(2.8rem, 3.2rem);
	}
}

@mixin as-c-header-h3($font-weight: 700) {
	@include h;

	@include font(1.8rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(2.1rem, 2.4rem);
	}
}

@mixin as-c-header-h4($font-weight: 700) {
	@include h;

	@include font(1.6rem, 2rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(1.8rem, 2.4rem);
	}
}

@mixin as-c-header-h5($font-weight: 700) {
	@include h;

	@include font(1.4rem, 2rem);

	font-weight: $font-weight;
}

@mixin as-c-subtitle-1($font-weight: $font-weight-text) {
	@include h;

	@include font(1.6rem, 2rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(1.8rem, 2.4rem);
	}
}

@mixin as-c-subtitle-2($font-weight: $font-weight-text) {
	@include h;

	@include font(1.8rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(1.4rem, 2rem);
	}
}

@mixin as-c-text-xl($font-weight: $font-weight-text) {
	@include h;

	@include font(1.8rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(2.1rem, 3.2rem);
	}
}

@mixin as-c-text-lg($font-weight: $font-weight-text) {
	@include h;

	@include font(1.6rem, 2rem);

	font-weight: $font-weight;

	@include mq(sm-md) {
		@include font(1.8rem, 2.4rem);
	}
}

@mixin text-base-big($font-weight: $font-weight-text) {
	@include font(1.8rem, 2.4rem);

	font-weight: $font-weight;

	a,
	button {
		font-weight: 700;
	}
}

@mixin text-base-big($font-weight: $font-weight-text) {
	@include font(1.8rem, 2.4rem);

	font-weight: $font-weight;

	a,
	button {
		font-weight: 700;
	}
}

@mixin text-base-medium($font-weight: $font-weight-text) {
	@include font(1.6rem, 2rem);

	font-weight: $font-weight;

	a,
	button {
		font-weight: 500;
	}
}

@mixin text-base($font-weight: $font-weight-text) {
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: $font-weight;

	a,
	button {
		font-weight: 500;
	}
}

@mixin text-small($font-weight: $font-weight-text) {
	@include font(1.2rem, 1.6rem);

	font-weight: $font-weight;
}

// old typography styles

@mixin header-h1-lg($font-weight: $font-weight-title) {
	@include h;

	@include font(2.8rem, 3.2rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(4rem, 4.4rem)
	}

	@include mq(lg) {
		@include font(8rem, 8.8rem)
	}
}

@mixin header-h1($font-weight: 700) {
	@include h;
	@include font(2.8rem, 3.2rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(4rem, 4.4rem);
	}
}

@mixin header-h1-black($font-weight: 900) {
	@include h;
	@include font(2.1rem, 3.2rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(3.2rem, 3.6rem);
	}
}

@mixin header-h2($font-weight: $font-weight-title) {
	@include h;
	@include font(2.1rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(2.8rem, 3.2rem);
	}
}

@mixin header-brand-h3-black($font-weight: 900) {
	@include h;
	@include font(2.1rem, 2.4rem);

	font-weight: $font-weight;
}

@mixin header-model-card-h3($font-weight: 400) {
	@include h;
	@include font(1.6rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(lg) {
		@include font(2.1rem, 3.2rem);
	}
}

@mixin header-model-settings-h3($font-weight: 400) {
	@include h;
	@include font(2.1rem, 3.2rem);

	font-weight: $font-weight;
}

@mixin header-offer-h3($font-weight: 400) {
	@include h;
	@include font(1.6rem, 2.4rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(2.1rem, 3.2rem);
	}
}

@mixin header-equipment-h4($font-weight: 900) {
	@include h;
	@include font(2.1rem, 2.4rem);

	font-weight: $font-weight;
}

@mixin header-offer-h5($font-weight: 700) {
	@include h;

	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: $font-weight;
}

@mixin header-comparing-h5($font-weight: 700) {
	@include h;

	font-size: 1.4rem;
	line-height: 2rem;

	font-weight: $font-weight;

	@include mq(md) {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

@mixin link-base {
	@include text-base;
	@include interact(text-decoration, underline);

	font-weight: 400;
	text-decoration: none;
}

@mixin text-offer() {
	@include font(1.4rem, 2rem);

	font-weight: 400;
}

@mixin link-offer {
	@include text-offer;
	@include interact(text-decoration, underline);

	text-decoration: none;
}

@mixin link-small {
	@include text-small;
	@include interact(text-decoration, underline);

	font-weight: 400;

	text-decoration: none;
}

@mixin text-comparing($font-weight: 400) {
	@include font(1rem, 1.6rem);

	font-weight: $font-weight;

	@include mq(md) {
		@include font(1.3rem, 2rem);
		font-weight: 300;
	}
}

@mixin link-comparing {
	@include text-comparing;
	@include interact(text-decoration, underline);

	text-decoration: none;
}

@mixin text-minimal($font-weight: 400) {
	@include font(1.2rem, 1.6rem);

	font-weight: $font-weight;
}

@mixin link-minimal {
	@include text-minimal;
	@include interact(text-decoration, underline);

	font-weight: 400;

	text-decoration: none;
}



